<% title "Site" %>

<p>
  <strong>Name:</strong>
  <%=h @site.name %>
</p>

<p>
  <%= link_to "Edit", edit_site_path(@site) %> |
  <%= link_to "Destroy", @site, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sites_path %>
</p>
